[project]
	description = Basic app with compojure, swagger and monger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Piotrek Bzdyl (pbzdyl)
[access "refs/for/refs/*"]
	read = group user/Piotrek Bzdyl (pbzdyl)
	push = group user/Piotrek Bzdyl (pbzdyl)
	label-Code-Review = -2..+2 group user/Piotrek Bzdyl (pbzdyl)
	label-Verified = -1..+1 group user/Piotrek Bzdyl (pbzdyl)
	rebase = group user/Piotrek Bzdyl (pbzdyl)
	removeReviewer = group user/Piotrek Bzdyl (pbzdyl)
	submit = group user/Piotrek Bzdyl (pbzdyl)
[access "refs/heads/*"]
	read = group user/Piotrek Bzdyl (pbzdyl)
	create = group user/Piotrek Bzdyl (pbzdyl)
	push = +force group user/Piotrek Bzdyl (pbzdyl)
	pushMerge = group user/Piotrek Bzdyl (pbzdyl)
[access "refs/tags/*"]
	push = +force group user/Piotrek Bzdyl (pbzdyl)
	pushTag = group user/Piotrek Bzdyl (pbzdyl)
	pushSignedTag = group user/Piotrek Bzdyl (pbzdyl)
